

.contenedor_index{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 15% 70% 50% 20% 10%;
    /*grid-template: 7em 35em 16em 35em 10em/auto auto auto auto;   primero filas / columnas */
    grid-template-areas: "nav nav nav nav"
                         "hola hola hola hola"
                         "mascotas mascotas mascotas mascotas"
                         "servicios servicios servicios servicios"
                         "footer footer footer footer";
    height: 100vh;
    grid-gap: 2em;
    
    padding-left: 6em; 
    padding-right: 6em;  
    padding-top: 3em;  
    
    background: linear-gradient(135deg, #d2d96d55 25%, transparent 25%) -36px 0/ 72px 72px, linear-gradient(225deg, #d2d96d 25%, transparent 25%) -36px 0/ 72px 72px, linear-gradient(315deg, #d2d96d55 25%, transparent 25%) 0px 0/ 72px 72px, linear-gradient(45deg, #d2d96d 25%, #e5e5f7 25%) 0px 0/ 72px 72px;

}

.navegador{ grid-area:nav;
            color: black;
            background-color: rgb(249, 245, 245);
            border-radius: 2em;
            padding: 1em;
            box-shadow: 5px 5px 5px rgb(144, 139, 139);
            opacity: 1;
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            font-size: 1.5em;
            font-family: sans-serif;

            


}
.navegador a {
    padding-left: 3em;
    text-decoration: none;
}
.hola{ grid-area:hola;
    display: flex;
    justify-content:space-evenly ;
    border-radius: 2em;
    align-items: center;
    background: #d1bea3;
    padding-right: 2em;
    padding-left: 2em;
    
}

.mascotas{ grid-area:mascotas;
    color: rgb(11, 10, 10);
    background-color: rgb(152, 94, 32);
    border-radius: 2em;
    padding: 1em;
    display: flex;
    
}

.servicios{ grid-area:servicios;
    color: rgb(9, 9, 9);
    background-color: rgb(241, 82, 135);
    border-radius: 2em;
    padding: 1em;
    display: flex;

}

.footer{ grid-area:footer;
    color: rgb(13, 13, 13);
    background-color: rgb(216, 246, 226);
    border-radius: 2em;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;

}


div.hola img.yorkie{
    width: 20em;
    height:25em;
    border-radius: 20px;
    box-shadow: 0 5px 10px -5px  rgb(6 6  6);

}

div.navegador div.item_logo img{
   height: 4rem;
    width: 4rem;
    padding: 0.5rem;

}
a:link{
    color: #EA2027;
}
a:visited{
    color:rgb(237, 45, 45);
}
a:hover{
    color: rgb(175, 167, 11);
}
a:active{
    color: RED;
}
.nav{
    align-content: center;
}
div.mascota img.perrito_mediacara{
   
    border-radius: 20px;
    box-shadow: 0 5px 10px -5px  rgb(6 6  6);

}


